* {
    background-image: linear-gradient(30deg, skyblue, violet, black);
    font-family: sans-serif;
    color: whitesmoke;
    text-shadow: 2px 2px black;
}

header {
    font-size: 50px;
    text-align: center;
    background-image: var(--Offwhite);
}

h1 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
   
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.card {
    border: solid 2px;
    border-radius: var(--Radius);
    width: 300px;
    margin-bottom: 40px;
    margin-left: 15px;
    margin-right: 15px;
    background-image: var(--Black)
}

main {
    position: relative;
    left: 10px;
    margin-top: 10px;
    background-image: var(--Offwhite);
    font-size: 20px;
    text-align: center;
    border: solid 1px;
    border-radius: var(--Radius); 
    width:  275px;
}

p {
    position: relative;
    left: 10px;
    width: 250px;
    text-align: center;
    background-image: var(--Offwhite);
}

pre {
    position: relative;
    left: 20px;
    border: solid 1px;
    border-radius: 20%;
    width: 250px;
    height: 200px;
}

#pre1 {
    position: relative;
    left: 20px;
    border: solid 1px;
    border-radius: 20%;
    width: 260px;
    height: 220px;
}

.code {
    position: relative;
    left: 25px;
    font-size: 15px;
    background-image: var(--Violet);
    user-select:all;
}

.code1 {
    position: relative;
    left: 15px;
    font-size: 15px;
    background-image: var(--Violet);
    user-select:all;
}

.code2 {
    position: relative;
    left: 15px;
    font-size: 15px;
    bottom: 15px;
    background-image: var(--Violet);
    user-select:all;
}

.card:hover {
    box-shadow: 10px 10px 10px 10px var(--Violet);
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .column {
      width: 50%;
    }
}